body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #303030;
}

.header {
  padding: 10px 20px;
  background-color: #ce403a;
}

.pokemoncard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f1f1f1;
  border-radius: 0px;
  position: relative;
  border: 0;
}

.pokemoncard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* border: 1px solid #ce403a; */
  border: 0;
  border-radius: 0px;
  transform: scale(1.01);
}


.pokemoncard a {
  color: #f1f1f1;
}

.pokemoncard-image {
  border-radius: 5px 5px 0 0;
}

.pokemoncard-content {
  padding: 8px 16px;
}

.pokemoncard .fav {
  float: left;
  padding: 8px;
  color: #363636;
}

.pokemoncard .fav.selected {
  color: #ce403a;
}

.pokedex-entry {
  animation: zoomIn 200ms;
}

.pokemon-detail-image {
  padding: 20px;
  text-align: center;
  background-color: #444444;
}

.pokemon-info {
  background-color: #ce403a !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  border-radius: 5px;
  margin-right: 15px;
}

.pokemon-image.animate,
.pokemon-info {
  animation: fadeInUp 400ms;
}

.pokemoncard-number {
  position: absolute;
  padding: 8px 12px;
  background-color: rgb(206, 64, 58);
  left: 0;
  top: 0;
}

.egg-loader {
  animation: rubberBand 2200ms infinite;
  margin: 100px auto;
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 30vh;
}

.footer {
  margin-top: 100px;
  padding-bottom: 3rem;
}

.footer .love {
  color: #ce403a;
  display: inline-flex;
  vertical-align: middle;
}

.button {
  background-color: #ce403a;
  border: #303030;
}

@media (max-width: 600px) {
  .pokemon-info {
    margin-right: 0;
    box-shadow: none;
  }
}